/* start css reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* end css reset */

img.hero {
  width: 100%;
  height: auto;
}

nav ul li {
  cursor: pointer;
  padding: 5px;
  transition: border-bottom 0.3s;
}

nav ul li:hover {
  border-bottom: 3px solid #b12029;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #212121;
  color: white;
  margin-top: auto;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  font-size: 23px;
}

footer article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  font-weight: 500;
}

.explore-content button:hover,
.trip-content button:hover,
.form-subscribe button:hover {
  background-color: white;
  color: #b12029;
}

.explore-content button,
.trip-content button,
.form-subscribe button {
  transition: background-color 0.3s, color 0.3s; /* Add transition for background-color and color with a duration of 0.3s */
}

footer .social i:hover {
  cursor: pointer;
  color: #b12029;
  transition: background-color 0.3s, color 0.3s;
}

section.form-subscribe {
  padding-left: 14px;
  padding-right: 14px;

  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 26px;
  align-items: center;
  height: 100vh;
}

.form-subscribe .content {
  display: flex;
  flex-direction: column;
  row-gap: 7px;

  text-align: center;
}

.form-subscribe button {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b12029;
  color: white;
  cursor: pointer;
  border: 2px solid #b12029;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
}
input {
  padding: 12px;
}

.card-container {
  height: 100vh;
}

/* mobile styling */
@media screen and (max-width: 767px) {
  body {
    /* background-color: red; */
  }
  nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  nav ul {
    display: none;
  }

  header .hero-container {
    /* background-color: yellow; */

    display: flex;
    flex-direction: column;
    position: relative;
  }

  .hero-img-container {
    position: relative;
  }

  .hero-content {
    margin-top: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
  }

  img.hero {
    width: 100%;
    height: auto;
  }

  .hero-content article {
    margin-top: 4px;
  }

  .hero-content article p {
    font-weight: 200;
    font-size: 14px;
  }

  .hero-content h2 {
    font-weight: bold;
    font-size: 24px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
  }

  .card {
    margin-top: 20px;
    width: 100%;
    /* height: 200px; */
    height: auto;
    border: 2px solid grey;
    overflow: hidden;
  }

  .card .card-content {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
  }

  .card-content h4 {
    font-size: 20px;
  }

  .card-content p {
    padding-top: 4px;
  }

  .card-content span p {
    margin-top: 6px;
    font-weight: 500;
    color: #b12029;
    cursor: pointer;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  main .explore-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 100vh;
  }

  .explore-content .content {
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 10px;
  }

  .explore-content .content p {
    margin-top: 6px;
    font-weight: 500;
  }

  .explore-content .content h1 {
    font-size: 40px;
    font-weight: 800;
  }

  .explore-content img {
    width: 100%;
    height: auto;
  }

  .explore-content button {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #b12029;
    color: white;
    cursor: pointer;
    border: 2px solid #b12029;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
  }

  main .trip-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 100vh;
  }

  .trip-content .content {
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 10px;
  }

  .trip-content .content p {
    margin-top: 6px;
    font-weight: 500;
  }

  .trip-content .content h1 {
    font-size: 40px;
    font-weight: 800;
  }

  .trip-content img {
    width: 100%;
    height: auto;
  }

  .trip-content button {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #b12029;
    color: white;
    cursor: pointer;
    border: 2px solid #b12029;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
  }

  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  footer .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    font-size: 23px;
  }

  footer article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
  }
}
/* end mobile styling */

/* tablet styling */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  nav .icon {
    display: none;
  }

  nav ul li {
    font-size: 15px;
    margin-left: 16px;
    cursor: pointer;
    padding: 4px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  header .hero-container {
    /* background-color: yellow; */

    display: flex;
    flex-direction: column;
    position: relative;
  }
  .hero-img-container {
    position: relative;
  }

  .hero-content {
    margin-top: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
  }

  img.hero {
    width: 100%;
    height: auto;
  }

  .hero-content article {
    margin-top: 4px;
    font-weight: 500;
    font-size: 22px;
  }

  .hero-content h2 {
    font-size: 40px;
    font-weight: bold;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin-top: 20px;
    width: 90%;
    /* height: 200px; */
    height: auto;
    border: 2px solid grey;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card .card-content {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
    flex: 4;
  }

  .card-content h4 {
    font-size: 25px;
  }

  .card-content p {
    padding-top: 4px;
    font-size: 18px;
  }

  .card-content span p {
    margin-top: 7px;
    font-weight: 500;
    color: #b12029;
    cursor: pointer;
  }

  .card img {
    width: 100%;
    height: auto;
    flex: 2;
  }

  main .explore-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 100vh;
  }

  .explore-content aside {
    order: 2;
  }

  .explore-content .content {
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 10px;
    order: 1;
  }

  .explore-content .content p {
    margin-top: 6px;
    font-weight: 500;
  }

  .explore-content .content h1 {
    font-size: 50px;
    font-weight: 800;
  }

  .explore-content img {
    width: 100%;
    height: auto;
  }

  .explore-content button {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #b12029;
    color: white;
    cursor: pointer;
    border: 2px solid #b12029;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
  }

  main .trip-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 100vh;
  }

  .trip-content aside {
    order: 1;
  }

  .trip-content .content {
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 10px;
    order: 2;
  }

  .trip-content .content p {
    margin-top: 6px;
    font-weight: 500;
  }

  .trip-content .content h1 {
    font-size: 50px;
    font-weight: 800;
  }

  .trip-content img {
    width: 100%;
    height: auto;
  }

  .trip-content button {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #b12029;
    color: white;
    cursor: pointer;
    border: 2px solid #b12029;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
  }
}
/* end tablet styling */

/* dekstop styling */
@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  nav .icon {
    display: none;
  }

  nav ul li {
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }

  header .hero-container {
    /* background-color: yellow; */

    display: flex;
    flex-direction: column;
    position: relative;
  }
  .hero-img-container {
    position: relative;
  }

  .hero-content {
    margin-top: 16px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
  }

  img.hero {
    width: 100%;
    height: auto;
  }

  .hero-content article {
    margin-top: 4px;
  }

  .hero-content article p {
    font-size: 18px;
    font-weight: 200;
  }

  .hero-content h2 {
    font-weight: bold;
    font-size: 50px;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  /* main .explore-content {
    width: 100%;
    height: 100%;
    height: 100vh;
  } */

  .card-container {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
  }

  .card {
    margin-top: 20px;
    /* width: 90%; */
    /* height: 200px; */
    height: auto;
    border: 2px solid grey;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card .card-content {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
    flex: 3;
  }

  .card-content h4 {
    font-size: 28px;
  }

  .card-content p {
    padding-top: 4px;
    font-size: 18px;
  }

  .card-content span p {
    margin-top: 8px;
    color: #b12029;
    font-weight: 500;
    cursor: pointer;
  }

  .card img {
    width: 100%;
    height: auto;
    flex: 2;
  }

  main .explore-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 100vh;
  }

  .explore-content aside {
    order: 2;
    flex: 1;
  }

  .explore-content .content {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    order: 1;
    flex: 1;
  }

  .explore-content .content p {
    margin-top: 6px;
    font-weight: 500;
  }

  .explore-content .content h1 {
    font-size: 65px;
    font-weight: 800;
  }

  .explore-content img {
    width: 100%;
    height: auto;
  }

  .explore-content button {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #b12029;
    color: white;
    cursor: pointer;
    border: 2px solid #b12029;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
  }

  .explore-content button:hover {
    background-color: white;
    color: #b12029;
  }

  main .trip-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 100vh;
  }

  .trip-content aside {
    order: 1;
    flex: 1;
  }

  .trip-content .content {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    order: 2;
    flex: 1;
  }

  .trip-content .content p {
    margin-top: 6px;
    font-weight: 500;
  }

  .trip-content .content h1 {
    font-size: 65px;
    font-weight: 800;
  }

  .trip-content img {
    width: 100%;
    height: auto;
  }

  .trip-content button {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #b12029;
    color: white;
    cursor: pointer;
    border: 2px solid #b12029;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
  }

  .trip-content button:hover {
    background-color: white;
    color: #b12029;
  }
}
/* end dekstop styling */
