/* start css reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* end css reset */

img.hero {
  width: 100%;
  height: auto;
}

/* mobile styling */
@media screen and (max-width: 767px) {
  body {
    /* background-color: red; */
  }
  nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  nav ul {
    display: none;
  }

  header .hero-container {
    /* background-color: yellow; */

    display: flex;
    flex-direction: column;
    position: relative;
  }
  .hero-img-container {
    position: relative;
  }

  .hero-content {
    margin-top: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
  }

  img.hero {
    width: 100%;
    height: auto;
  }

  .hero-content article {
    margin-top: 4px;
    font-weight: 500;
  }

  .hero-content h1 {
    font-weight: bold;
  }
}
/* end mobile styling */
